{% load staticfiles %}
<html>
<head>
    <title>Level info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static '/css/level_info.css' %} " rel="stylesheet">
    <link href="{% static '/css/defaultTheme.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static '/css/level_info.css' %}" rel="stylesheet" media="screen"/>

    <script src={% static '/js/level.js' %}></script>
    <script src="{% static '/js/fixedheadertable.js' %}"></script>
</head>
<body>

<div>
    уровень: {{ level_info.0 }} , кол-во выходов из уровня: {{ level_info.1 }} , кол-во уровней без преобразования супер
    фишек: {{ level_info.2 }}
</div>

<div style="height:80%; overflow:hidden; border:1px solid black;">
    <table id="fixed" class="fancyTable">
        <thead>
        <tr>
            <th>№</th>
            <th title="Дата старта уровня">Старт</th>
            <th title="Дата финиша уровня">Финиш</th>
            <th title="Разница между финишом и стартом уровня">Затрачено <br> времени</th>
            <th title="1 если уровень пройден">Победа</th>
            <th title="1 если уровень проигран">Поражение</th>
            <th title="Количество затраченых ходы">Потрачено ходов</th>
            <th title="Затраченно секунд из цели">Потрачено секунд</th>
            <th title="Количество оставшихся ходов">Остаток ходов</th>
            <th title="Что требовалось собрать">Цель№1 {{ events.0.target1_name }}</th>
            <th title="Что требовалось собрать">Цель№2 {{ events.0.target2_name }}</th>
            <th title="Penalty Target 1">Penalty Target 1</th>
            <th title="Penalty Target 2">Penalty Target 2</th>
            <th title="Сколько дано ходов">Дано ходов</th>
            <th title="Сколько дано секунд">Дано секунд</th>
            <th title="Сколько было собрано цели 1">Собрано Цели№1</th>
            <th title="Сколько было собрано цели 2">Собрано Цели№2</th>
            <th title="Был ли активирован первый бонус">Б№1</th>
            <th title="Был ли активирован второй бонус">Б№2</th>
            <th title="Был ли активирован третий бонус">Б№3</th>
            <th title="Molot">Molotok</th>
            <th title="Собранной игровой валюты(на момент после преобразования всех ходов)">Валюты<br>собр.</th>
            <th title="Красные"><img src="{% static '/icons/Elements/lvl_01/Rubin_001.png' %}"/>
            <th title="Желтые"><img src="{% static '/icons/Elements/lvl_01/Gold_001.png' %}"/>
            <th title="Синие"><img src="{% static '/icons/Elements/lvl_01/Water_001.png' %}"/>
            <th title="Зеленые"><img src="{% static '/icons/Elements/lvl_01/Izumrud_001.png' %}"/>
            <th title="Белые"><img src="{% static '/icons/Elements/lvl_01/Zhemchug_white.png' %}">
            <th title="Черные"><img src="{% static '/icons/Elements/lvl_01/Zhemchug_black.png' %}"/>
            <th title="Super_FireSpark"><img src="{% static '/icons/Super-fishka/0000005.png' %}"/>
            <th title="Super_FireRing"><img src="{% static '/icons/Super-fishka/0000002.png' %}"/>
            <th title="Super_BigLightning_h"><img src="{% static '/icons/Super-fishka/0000003-2.png' %}"/>
            <th title="Super_BigLightning_v"><img src="{% static '/icons/Super-fishka/0000003-1.png' %}"/>
            <th title="Super_SmallLightning"><img src="{% static '/icons/Super-fishka/0000001.png' %}"/>
            <th title="Super_SphereOfFire"><img src="{% static '/icons/Super-fishka/0000006.png' %}"/>
            <th title="Stone"><img src="{% static '/icons/Stone/El_stone_01.png' %}"/>
            <th title="Weight"><img src="{% static '/icons/Weaver/Weaver.png' %}"/>
            <th title="Lamp"><img src="{% static '/icons/Lamp/lamp_lvl2.png' %}"/>
            <th title="StarBonus"><img src="{% static '/icons/Super-fishka/0000007.png' %}"/>
            <th title="бокс уровня 1"><img src="{% static '/icons/Caskets/Casket_lvl_01.png' %}"/>
            <th title="бокс уровня 2"><img src="{% static '/icons/Caskets/Casket_lvl_02.png' %}"/>
            <th title="бокс уровня 3"><img src="{% static '/icons/Caskets/Casket_lvl_03.png' %}"/>
            <th title="подложка уровня 1"><img src="{% static '/icons/Pod/Pod-v1_Level_01.png' %}"/>
            <th title="подложка уровня 2"><img src="{% static '/icons/Pod/Pod-v1_Level_02.png' %}"/>
            <th title="Цепь уровня 1"><img src="{% static '/icons/Chain/chain1.png' %}"/>
            <th title="Хрустальный шар"><img src="{% static '/icons/Hrustal-shar_00.png' %}"/>
            <th title="Алмаз уровня 1"><img src="{% static '/icons/diamondLevel1.PNG' %}"/>
            <th title="Алмаз уровня 2"><img src="{% static '/icons/diamondLevel2.PNG' %}"/>
            <th title="Алмаз уровня 3"><img src="{% static '/icons/diamondLevel3.PNG' %}"/>
            <th title="Песок"><img src="{% static '/icons/simpleSand.png' %}"/>
            <th title="Гранит уровня 1"><img src="{% static '/icons/Betonplita_02.png' %}"/>
            <th title="Гранит уровня 2"><img src="{% static '/icons/Betonplita_01.png' %}"/>
            <th title="Лед уровня 1"><img src="{% static '/icons/Hrustal_lvl01-01.png' %}"/>
            <th title="Лед уровня 2"><img src="{% static '/icons/Hrustal_lvl2.png' %}"/>

            <th title="камень уровень 1 (новый)"><img src="{% static '/icons/Stone_lvl01.png' %}"/>
            <th title="камень уровня 2"><img src="{% static '/icons/Stone_lvl02.png' %}"/>
            <th title="камень уровня 3"><img src="{% static '/icons/Stone_lvl03.png' %}"/>


            <th title="бабочки"><img src="{% static '/icons/Bear.png' %}"/>
            <th title="фишка с ходами"><img src="{% static '/icons/ChipMoves_black.png' %}"/>
            <th title="пушка"><img src="{% static '/icons/Gaun.png' %}"/>

            <th title="забор"><img src="{% static '/icons/Fence.png' %}" height="30" width="30"/>
            <th title="банка с жемчугом"><img src="{% static '/icons/PearlBank.PNG' %}"/>
            <th title="банска с песком"><img src="{% static '/icons/SandBank.png' %}"/>
            <th title="пушка"><img src="{% static '/icons/Gift.png' %}"/>

            <th title="зеленый цветок"><img src="{% static '/icons/Flower_Green.PNG' %}"/>
            <th title="красный цветок"><img src="{% static '/icons/Flower_Red.PNG' %}"/>
            <th title="белый цветок"><img src="{% static '/icons/Flower_White.PNG' %}"/>
            <th title="черный цветок"><img src="{% static '/icons/Flower_Black.PNG' %}"/>
            <th title="синий цветок"><img src="{% static '/icons/Flower_Blue.PNG' %}"/>
            <th title="желтый цветок"><img src="{% static '/icons/Flower_Yellow.PNG' %}"/>

            <th title="Ключ тестировщика">Ключ</th>
            <th title="Удалить событие">Удалить событие</th>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ event.start_date|date:"M d, H:m:s" }}</td>
                <td>{{ event.end_date|date:"M d, H:m:s" }}</td>
                <td>{{ event.diff_time }}</td>
                <td>{{ event.win_game }}</td>
                <td>{{ event.fail_game }}</td>
                <td>{{ event.spent_turn }}</td>
                <td>{{ event.spent_second }}</td>
                <td>{{ event.left_turn }}</td>
                <td>{{ event.target1_count }}</td>
                <td>{{ event.target2_count }}</td>
                <td>{{ event.first_target_penalty_count }}</td>
                <td>{{ event.second_target_penalty_count }}</td>
                <td>{{ event.give_turn }}</td>
                <td>{{ event.give_seconds }}</td>
                <td>{{ event.target1_count_collected }}</td>
                <td>{{ event.target2_count_collected }}</td>
                <td>{{ event.first_bonus }}</td>
                <td>{{ event.second_bonus }}</td>
                <td>{{ event.third_bonus }}</td>
                <td>{{ event.countUseBombBonys }}</td>
                <td>{{ event.game_currency }}</td>
                <td>{{ event.red }}</td>
                <td>{{ event.yellow }}</td>
                <td>{{ event.blue }}</td>
                <td>{{ event.green }}</td>
                <td>{{ event.white }}</td>
                <td>{{ event.black }}</td>
                <td>{{ event.Super_FireSpark }}</td>
                <td>{{ event.Super_FireRing }}</td>
                <td>{{ event.Super_BigLightning_h }}</td>
                <td>{{ event.Super_BigLightning_v }}</td>
                <td>{{ event.Super_SmallLightning }}</td>
                <td>{{ event.Super_SphereOfFire }}</td>
                <td>{{ event.Stone }}</td>
                <td>{{ event.Weight }}</td>
                <td>{{ event.Lamp }}</td>
                <td>{{ event.StarBonus }}</td>
                <td>{{ event.Box_Level1 }}</td>
                <td>{{ event.Box_Level2 }}</td>
                <td>{{ event.Box_Level3 }}</td>
                <td>{{ event.Carpet_Level1 }}</td>
                <td>{{ event.Carpet_Level2 }}</td>
                <td>{{ event.Chain_Level1 }}</td>
                <td>{{ event.CrystalBall }}</td>
                <td>{{ event.Diamond_Level1 }}</td>
                <td>{{ event.Diamond_Level2 }}</td>
                <td>{{ event.Diamond_Level3 }}</td>
                <td>{{ event.Sand }}</td>
                <td>{{ event.Granite_Level1 }}</td>
                <td>{{ event.Granite_Level2 }}</td>
                <td>{{ event.Ice_Level1 }}</td>
                <td>{{ event.Ice_Level2 }}</td>
                <td>{{ event.MultiStoneLevel1 }}</td>
                <td>{{ event.MultiStoneLevel2 }}</td>
                <td>{{ event.MultiStoneLevel3 }}</td>
                <td>{{ event.Bear }}</td>
                <td>{{ event.ChipMoves }}</td>
                <td>{{ event.GunShot }}</td>

                <td>{{ event.FenceDestroy }}</td>
                <td>{{ event.PearlBank }}</td>
                <td>{{ event.SandBank }}</td>
                <td>{{ event.Gift }}</td>

                <td>{{ event.FlowerGreen }}</td>
                <td>{{ event.FlowerRed }}</td>
                <td>{{ event.FlowerWhite }}</td>
                <td>{{ event.FlowerBlack }}</td>
                <td>{{ event.FlowerBlue }}</td>
                <td>{{ event.FlowerYellow }}</td>

                <td title="{{ event.user_name }}" style="max-width: 70px; overflow: hidden">{{ event.user_name }}</td>
                <td><a href="delete?event_id={{ event.level_session_id }}&level_name={{ event.level_name }}">Del</a>
                </td>
            </tr>
        {% endfor %}

        {% for secret_key_data in list_secret_key_date %}
            <tr class="secret_key_data">

                <th style="max-width: 70px; overflow: hidden;" title="Сводка {{ secret_key_data.secret_key }}">
                    Сводка {{ secret_key_data.secret_key }}:
                </th>
                <th>---</th>
                <th>---</th>
                <th><h4>{{ secret_key_data.diff_time }}</h4></th>
                <th><h4>{{ secret_key_data.win_game }}</h4></th>
                <th><h4>{{ secret_key_data.fail_game }}</h4></th>
                <th><h4>{{ secret_key_data.spent_turn }}</h4>
                <th><h4>{{ secret_key_data.spent_second }}</h4></th>
                <th><h4>{{ secret_key_data.left_turn }}</h4></th>
                <th><h4>{{ secret_key_data.target1_count }}</h4></th>
                <th><h4>{{ secret_key_data.target2_count }}</h4></th>
                <th><h4>{{ secret_key_data.first_target_penalty_count }}</h4></th>
                <th><h4>{{ secret_key_data.second_target_penalty_count }}</h4></th>
                <th><h4>{{ secret_key_data.give_turn }}</h4></th>
                <th><h4>{{ secret_key_data.give_second }}</h4></th>
                <th><h4>{{ secret_key_data.target1_count_collected }}</h4></th>
                <th><h4>{{ secret_key_data.target2_count_collected }}</h4></th>
                <th><h4> --- </h4></th>
                <th><h4> --- </h4></th>
                <th><h4> --- </h4></th>
                <th><h4> {{ secret_key_data.countUseBombBonys }} </h4></th>
                <th><h4> {{ secret_key_data.game_currency }} </h4></th>
                <th><h4>{{ secret_key_data.red }}</h4></th>
                <th><h4>{{ secret_key_data.yellow }}</h4></th>
                <th><h4>{{ secret_key_data.blue }}</h4></th>
                <th><h4>{{ secret_key_data.green }}</h4></th>
                <th><h4>{{ secret_key_data.white }}</h4></th>
                <th><h4>{{ secret_key_data.black }}</h4></th>
                <th><h4>{{ secret_key_data.Super_FireSpark }}</h4></th>
                <th><h4>{{ secret_key_data.Super_FireRing }}</h4></th>
                <th><h4>{{ secret_key_data.Super_BigLightning_h }}</h4></th>
                <th><h4>{{ secret_key_data.Super_BigLightning_v }}</h4></th>
                <th><h4>{{ secret_key_data.Super_SmallLightning }}</h4></th>
                <th><h4>{{ secret_key_data.Super_SphereOfFire }}</h4></th>
                <th><h4>{{ secret_key_data.Stone }}</h4></th>
                <th><h4>{{ secret_key_data.Weight }}</h4></th>
                <th><h4>{{ secret_key_data.Lamp }}</h4></th>
                <th><h4>{{ secret_key_data.StarBonus }}</h4></th>
                <th><h4>{{ secret_key_data.Box_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.Box_Level2 }}</h4></th>
                <th><h4>{{ secret_key_data.Box_Level3 }}</h4></th>
                <th><h4>{{ secret_key_data.Carpet_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.Carpet_Level2 }}</h4></th>
                <th><h4>{{ secret_key_data.Chain_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.CrystalBall }}</h4></th>
                <th><h4>{{ secret_key_data.Diamond_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.Diamond_Level2 }}</h4></th>
                <th><h4>{{ secret_key_data.Diamond_Level3 }}</h4></th>
                <th><h4>{{ secret_key_data.Sand }}</h4></th>
                <th><h4>{{ secret_key_data.Granite_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.Granite_Level2 }}</h4></th>
                <th><h4>{{ secret_key_data.Ice_Level1 }}</h4></th>
                <th><h4>{{ secret_key_data.Ice_Level2 }}</h4></th>
                <th><h4>{{ secret_key_data.MultiStoneLevel1 }}</h4></th>
                <th><h4>{{ secret_key_data.MultiStoneLevel2 }}</h4></th>
                <th><h4>{{ secret_key_data.MultiStoneLevel3 }}</h4></th>
                <th><h4>{{ secret_key_data.Bear }}</h4></th>
                <th><h4>{{ secret_key_data.ChipMoves }}</h4></th>
                <th><h4>{{ secret_key_data.GunShot }}</h4></th>

                <th><h4>{{ secret_key_data.FenceDestroy }}</h4></th>
                <th><h4>{{ secret_key_data.PearlBank }}</h4></th>
                <th><h4>{{ secret_key_data.SandBank }}</h4></th>
                <th><h4>{{ secret_key_data.Gift }}</h4></th>

                <th><h4>{{ secret_key_data.FlowerGreen }}</h4></th>
                <th><h4>{{ secret_key_data.FlowerRed }}</h4></th>
                <th><h4>{{ secret_key_data.FlowerWhite }}</h4></th>
                <th><h4>{{ secret_key_data.FlowerBlack }}</h4></th>
                <th><h4>{{ secret_key_data.FlowerBlue }}</h4></th>
                <th><h4>{{ secret_key_data.FlowerYellow }}</h4></th>

                <th style="max-width: 70px; overflow: hidden;"><h4> {{ secret_key_data.secret_key }} </h4></th>
                <th><h4> --- </h4></th>

            </tr>
        {% endfor %}

        <tr>
            <th>Общая сводка:</th>
            <th>---</th>
            <th>---</th>
            <th><h4>{{ common_data.diff_time }}</h4></th>
            <th><h4>{{ common_data.win_game }}</h4></th>
            <th><h4>{{ common_data.fail_game }}</h4></th>
            <th><h4>{{ common_data.spent_turn }}</h4>
            <th><h4>{{ common_data.spent_second }}</h4></th>
            <th><h4>{{ common_data.left_turn }}</h4></th>
            <th><h4>{{ common_data.target1_count }}</h4></th>
            <th><h4>{{ common_data.target2_count }}</h4></th>
            <th><h4>{{ common_data.first_target_penalty_count }}</h4></th>
            <th><h4>{{ common_data.second_target_penalty_count }}</h4></th>
            <th><h4>{{ common_data.give_turn }}</h4></th>
            <th><h4>{{ common_data.give_second }}</h4></th>
            <th><h4>{{ common_data.target1_count_collected }}</h4></th>
            <th><h4>{{ common_data.target2_count_collected }}</h4></th>
            <th><h4> --- </h4></th>
            <th><h4> --- </h4></th>
            <th><h4> --- </h4></th>
            <th><h4> {{ common_data.countUseBombBonys }} </h4></th>
            <th><h4> {{ common_data.game_currency }} </h4></th>
            <th><h4>{{ common_data.red }}</h4></th>
            <th><h4>{{ common_data.yellow }}</h4></th>
            <th><h4>{{ common_data.blue }}</h4></th>
            <th><h4>{{ common_data.green }}</h4></th>
            <th><h4>{{ common_data.white }}</h4></th>
            <th><h4>{{ common_data.black }}</h4></th>
            <th><h4>{{ common_data.Super_FireSpark }}</h4></th>
            <th><h4>{{ common_data.Super_FireRing }}</h4></th>
            <th><h4>{{ common_data.Super_BigLightning_h }}</h4></th>
            <th><h4>{{ common_data.Super_BigLightning_v }}</h4></th>
            <th><h4>{{ common_data.Super_SmallLightning }}</h4></th>
            <th><h4>{{ common_data.Super_SphereOfFire }}</h4></th>
            <th><h4>{{ common_data.Stone }}</h4></th>
            <th><h4>{{ common_data.Weight }}</h4></th>
            <th><h4>{{ common_data.Lamp }}</h4></th>
            <th><h4>{{ common_data.StarBonus }}</h4></th>
            <th><h4>{{ common_data.Box_Level1 }}</h4></th>
            <th><h4>{{ common_data.Box_Level2 }}</h4></th>
            <th><h4>{{ common_data.Box_Level3 }}</h4></th>
            <th><h4>{{ common_data.Carpet_Level1 }}</h4></th>
            <th><h4>{{ common_data.Carpet_Level2 }}</h4></th>
            <th><h4>{{ common_data.Chain_Level1 }}</h4></th>
            <th><h4>{{ common_data.CrystalBall }}</h4></th>
            <th><h4>{{ common_data.Diamond_Level1 }}</h4></th>
            <th><h4>{{ common_data.Diamond_Level2 }}</h4></th>
            <th><h4>{{ common_data.Diamond_Level3 }}</h4></th>
            <th><h4>{{ common_data.Sand }}</h4></th>
            <th><h4>{{ common_data.Granite_Level1 }}</h4></th>
            <th><h4>{{ common_data.Granite_Level2 }}</h4></th>
            <th><h4>{{ common_data.Ice_Level1 }}</h4></th>
            <th><h4>{{ common_data.Ice_Level2 }}</h4></th>
            <th><h4>{{ common_data.MultiStoneLevel1 }}</h4></th>
            <th><h4>{{ common_data.MultiStoneLevel2 }}</h4></th>
            <th><h4>{{ common_data.MultiStoneLevel3 }}</h4></th>
            <th><h4>{{ common_data.Bear }}</h4></th>
            <th><h4>{{ common_data.ChipMoves }}</h4></th>
            <th><h4>{{ common_data.GunShot }}</h4></th>

            <th><h4>{{ common_data.FenceDestroy }}</h4></th>
            <th><h4>{{ common_data.PearlBank }}</h4></th>
            <th><h4>{{ common_data.SandBank }}</h4></th>
            <th><h4>{{ common_data.Gift }}</h4></th>

            <th><h4>{{ common_data.FlowerGreen }}</h4></th>
            <th><h4>{{ common_data.FlowerRed }}</h4></th>
            <th><h4>{{ common_data.FlowerWhite }}</h4></th>
            <th><h4>{{ common_data.FlowerBlack }}</h4></th>
            <th><h4>{{ common_data.FlowerBlue }}</h4></th>
            <th><h4>{{ common_data.FlowerYellow }}</h4></th>

            <th><h4> --- </h4></th>
            <th><h4> --- </h4></th>

        </tr>

        </tbody>
    </table>
</div>
<div>
    <p> Сложность уровня = {{ common_data.complexity }}</p>

    {% for secret_key_data in list_secret_key_date %}
        <p> Сложность уровня для секретного ключа: {{ secret_key_data.secret_key }} = {{ secret_key_data.complexity }}
            </p>

    {% endfor %}
</div>
</body>
</html>