body{
  font:1.2em normal Arial,sans-serif;
  color:#34495E;
  width: 100%;


}

h1{
  text-align:center;
  text-transform:uppercase;
  letter-spacing:-2px;
  font-size:2.5em;
  margin:20px 0;
}

.container{

  width:100%;
  margin:auto;
  overflow: scroll;
}

table{
  border-collapse:collapse;
  width:90%;
  table-layout: inherit;
}


.anal_table{
  border:2px solid #ffffff;
}

.anal_table thead{
  background: #ffffff;
}

thead{
  color:black;
}

tr > th{
  font-size: 12px;
  outline: grey solid 1px;
}

th,td{

  text-align:center;


}

tbody tr:nth-child(even){
  background:#ECF0F1;

}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;

}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

.scrollMore{
  margin-top:600px;
}

.up{
  cursor:pointer;
}
